body {
    font-family: 'Candara', sans-serif;
    background-color: #f4f4f4;
    color: black;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.col {
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
}

input[type="number"], button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #0b3783;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.resultado {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 15px;
    text-align: center;
}

#senhaGerada {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
}